[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ node_exporter_user }}
ExecStart=/var/lib/node_exporter/node_exporter-{{ version }}.linux-{{ node_exporter_arch }}/node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
