[Unit]
Description=Kiosk mode browser to display Magic Mirror interface

[Service]
Environment=DISPLAY=:0.0
ExecStart=firefox-esr --kiosk --private-window "{{ magic_mirror_kiosk_url }}"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
