[Unit]
Description=Magic Mirror Controller

[Service]
ExecStart={{ magic_mirror_kiosk_controller_bin_dir }}/magic-mirror-controller
Restart=on-failure

[Install]
WantedBy=default.target
